<footer class="page-footer blue">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">DOTA CARDS</h5>
                <p class="grey-text text-lighten-4">Here you get the list of all the heroes of dota 2 with their ablilities and items.</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Quick Links</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" [routerLink]="['/hero']">Heores</a></li>
                    <li><a class="grey-text text-lighten-3" [routerLink]="['/']">Abilities</a></li>
                    <li><a class="grey-text text-lighten-3" [routerLink]="['/']">Items</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2017 Copyright Nishant
            <a class="grey-text text-lighten-4 right" href="#!">Github</a>
        </div>
    </div>
</footer>