<nav class="blue">
    <div class="nav-wrapper">
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <a [routerLink]="['/']" class="brand-logo">DOTA 2</a>
                    <ul class="right hide-on-med-and-down">
                        <li><a [routerLink]="['/hero']">Heroes</a>
                        </li>
                        <li><a href="components.html">Abilities</a>
                        </li>
                        <li><a href="javascript.html">Items</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>