<div class="container" style="min-height:80vh;">
    <div class="row">
        <div class="col s8 push-s2  z-depth-4 home-banner">
            <h2>Welcome to Dota 2 Heroes application
            </h2>
            <p>
                In this application you will find all the heroes of Dota2 with their ablilities.
            </p>
            <p>
                Apart from Dota 2 heroes we also provide dota 2 items with their images
            </p>
            <a [routerLink]="['/hero']" class="btn">Go to heroes page</a>
        </div>
    </div>
</div>