/* You can add global styles to this file, and also import other style files */

body {
    display: flex;
    height: 100%;
    min-height: 100vh;
    flex-direction: column;
    background-image: url("./assets/images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
}